extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Kyle M. Ines
        p  Senior Full Stack Finder of Answers and Solutions

        .about-bio
          p For now, "hire me, please" is the best I can come up with.

      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li HTML
          li CSS
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 012-345-6789
          li kyleines@gmail.com

        a.btn-link(href='https://github.com/kyleines' target="_blank") GitHub 
        a.btn-link(href='https://twitter.com/kyleines' target="_blank") Twitter 
        a.btn-link(href='https://www.instagram.com/kyleines/' target="_blank") Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back